@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: 17 24 39;
  }

  html {
    /* @apply font-body; */
  }
  html,
  body {
    @apply antialiased;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.tourtament_title {
  box-shadow: 10px 10px 10px 10px rgb(var(--foreground-rgb));
}

.card {
  @apply rounded-lg bg-light-dark p-4 shadow-card;
}

@layer utilities {
  .text-case-inherit {
    text-transform: inherit;
  }

  .letter-space-inherit {
    letter-spacing: inherit;
  }

  .word-break-all {
    word-break: break-all;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-700 {
    animation-delay: 700ms;
  }

  .text-vertical {
    writing-mode: tb;
    text-orientation: upright;
  }
}

/* Hide spin button for input type number */
input.spin-button-hidden::-webkit-outer-spin-button,
input.spin-button-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brand));
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-brand));
}
